<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="Cadenadeconexion" value="data source=186.67.37.218,1518;initial catalog=SIERRALTA;user id=SIERRALTA;password = SIERRALTA"/>
    <!--<add key="Cadenadeconexion" value="data source=201.238.250.13,1433;initial catalog=CISTERNAS;user id=SqlCisternas;password=Cisternas2021"/>-->
    <add key="Empresa" value="01"/>
  </appSettings>
</configuration>
